PORT=4000
DATABASE_URL="postgresql://user:password@localhost:5432/ecommerce_webapp?schema=public"
JWT_SECRET="your_secret_key"
JWT_REFRESH_SECRET="your_refresh_secret_key"
TELEGRAM_BOT_TOKEN=""
TELEGRAM_CHAT_ID=""

# SMTP Configuration
SMTP_HOST=smtp.mailtrap.io
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=
SMTP_FROM='"E-Store" <noreply@estore.com>'

# Google OAuth Configuration
GOOGLE_CLIENT_ID="your-google-client-id.apps.googleusercontent.com"
GOOGLE_CLIENT_SECRET="GOCSPX-your-client-secret"
GOOGLE_CALLBACK_URL="http://localhost:4000/api/auth/google/callback"

FRONTEND_URL="http://localhost:5173"
# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME="your-cloud-name"
CLOUDINARY_API_KEY="your-api-key"
CLOUDINARY_API_SECRET="your-api-secret"
